<footer>
    <div [@animateFooter]>
        <ul class="footer-left-bar d-none d-md-block">
            <li>
                <a href="https://github.com/Dilaksanraj" target='_blank'>
                    <i class="fab fa-github"></i>
                </a>
            </li>
            <li>
                <a  href="https://www.linkedin.com/in/dilaksanraj-alexsandar//" target='_blank'>
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </li>
        </ul>
        <div class="footer-right-bar d-none d-md-block">
            <a  href="dilaksanraj@gmail.com" target='_blank'>dilaksanraj@gmail.com</a>
        </div>
    </div>

    <div class="footer-credits text-center" >
        <a  href="https://github.com/Dilaksanraj" target="_blank" rel="nofollow noopener noreferrer">
            <div>Developed by Dilaksanraj</div>
        </a>
    </div>

</footer>